@model CommentModel

<div class="container my-5 py-5 text-dark">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body p-4">
                    <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                             height="65" />
                        <div class="w-100">
                            <h5>Add a post</h5>
                            <form method="post">
                                <div class="form-outline">
                                    <label asp-for="Content" class="form-label" for="textAreaExample">Content</label>
                                    <input asp-for="Content" class="form-control">
                                    <span asp-validation-for="Content" class="small text-danger"></span>
                                </div>
                                <div class="d-flex justify-content-between mt-3">
                                    <input type="submit" class="btn btn-success" value="Send" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
