@model GameModel

@{
    ViewBag.Title = "Add Game";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_GamePartial" model="@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}